.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ebecf2;
  width: 96vw;
  height: 100vh;
  overflow-x: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px;
}

.filter-panel {
  position: relative;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.drawer {
  width: 300px !important;
}

.modal-head {
  margin: 10px 0px 30px 0px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #8d7855;
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 60%;
}

.modal-content button {
  width: 100%;
  background-color: #007bff;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
}

.modal-content button:last-child {
  background-color: #dc3545;
}

.modal-button {
  margin: 10px 0px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.clubbed-fields {
  display: flex;
  gap: 20px;
}
