.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  width: 86px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(#3f4852, #040304);
  overflow-x: hidden;
  margin: 0px;
  padding-top: 20px;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 82vh;
}

.menu-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  padding-top: 10px;
  cursor: pointer;
}
